/* 
    Nombre estudiante: Germán A. Riveros Sepúlveda.
    Generación: 14.
    Jornada: Vespertina.   
    Desafío: Ricomida. 
*/

/* Configuraciones generales. */
body *{
    margin: 0px;
    padding: 0px;
}


body{
    font-family: "Cabin", "Lobster", sans-serif;
}


/* Colores. */
:root{
    --black: #000;
    --white: #fff;
    --danger: #dc3545;
}

/* Fin configuraciones generales. */


/* Barra de navegación. */
.navbar{
    background: #373a3c;
}

.navbar-brand{
    font-family: "Lobster";
    font-size: 26pt;
}
/* Fin barra de navegación. */


/* Sección de héroe. */
.imagen-principal img{
    width: 462pt;
    height: auto;
}

.titulo-principal{
    width: 425px;
    height: auto;
}

.titulo-principal h1{
    font-size: 30pt;
    color: #373a3c;
}

.linea{
    width: 462pt;
}

.caracteristicas h3{
    font-size: 20pt;
    color: #373a3c;
}
/* Fin sección de héroe. */



/* Carrusel. */
/* Fin carrusel. */

/* Sección de ingredientes y preparación. */
/* Fin sección de ingredientes y preparación. */

/* Sección de recetas relacionadas [cards]. */
/* Fin sección de recetas relacionadas [cards]. */


/* Sección de suscripción. */
#sec-suscripcion{
    background-color: var(--danger);
    color: var(--white);
}

#sec-suscripcion h2{
    font-size: 40px;
}

#sec-suscripcion span{
    font-size: 30px;
    font-weight: 400;
}

.marca{
    font-family: "Lobster";
}
/* Fin sección de suscripción. */


/* Pie de página. */
#pie-pagina{
    background: #373A3C;
}

#pie-pagina p{
    font-family: "Lobster";
    font-size: 26pt;
}
/* Fin pie de página. */
